flows/biliardino3.json
[{"id":"f1c791f7.5b528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59363999.067d98","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"415b664b.7dc598","type":"inject","z":"f1c791f7.5b528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["31c923cb.712c5c"]]},{"id":"31c923cb.712c5c","type":"exec","z":"f1c791f7.5b528","command":"sudo systemctl restart chromium.service ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":180,"wires":[[],[],[]]},{"id":"6840b2d.a12c34c","type":"mqtt in","z":"f1c791f7.5b528","name":"","topic":"biliardino","qos":"2","datatype":"auto","broker":"59363999.067d98","x":230,"y":460,"wires":[["ad697ce2.54dab"]]},{"id":"ad697ce2.54dab","type":"debug","z":"f1c791f7.5b528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":460,"wires":[]},{"id":"ddfb28cb.057f38","type":"exec","z":"f1c791f7.5b528","command":"sudo chown -Rf www-data:www-data /var/www","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":520,"y":240,"wires":[[],[],[]]},{"id":"be5f9739.7c2708","type":"inject","z":"f1c791f7.5b528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["ddfb28cb.057f38"]]},{"id":"9be83136.d65f","type":"mqtt out","z":"f1c791f7.5b528","name":"","topic":"biliardino/goal","qos":"","retain":"","broker":"59363999.067d98","x":740,"y":540,"wires":[]},{"id":"ab3cc3bf.f7185","type":"inject","z":"f1c791f7.5b528","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["9be83136.d65f","ceda3207.e5399"]]},{"id":"214a76be.9728aa","type":"inject","z":"f1c791f7.5b528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":340,"wires":[["d233bca8.65066"]]},{"id":"1466f539.831d5b","type":"inject","z":"f1c791f7.5b528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":420,"wires":[["7e99314e.3af0d"]]},{"id":"b3713d9b.b8d93","type":"mqtt out","z":"f1c791f7.5b528","name":"","topic":"biliardino/blue_score","qos":"","retain":"","broker":"59363999.067d98","x":1120,"y":340,"wires":[]},{"id":"f8ad90b5.21eb9","type":"mqtt out","z":"f1c791f7.5b528","name":"","topic":"biliardino/red_score","qos":"","retain":"","broker":"59363999.067d98","x":1110,"y":420,"wires":[]},{"id":"d233bca8.65066","type":"function","z":"f1c791f7.5b528","name":"","func":"var a=msg.payload.toString(10);\nmsg.payload=a.substr(a.length-2);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":340,"wires":[["b3713d9b.b8d93"]]},{"id":"7e99314e.3af0d","type":"function","z":"f1c791f7.5b528","name":"","func":"var a=msg.payload.toString(10);\nmsg.payload=a.substr(a.length-2);\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["f8ad90b5.21eb9"]]},{"id":"ceda3207.e5399","type":"delay","z":"f1c791f7.5b528","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":640,"wires":[["78207ca8.4c2284"]]},{"id":"78207ca8.4c2284","type":"function","z":"f1c791f7.5b528","name":"","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":640,"wires":[["9be83136.d65f"]]}]