flows/biliardino.json
[{"id":"f1c791f7.5b528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6c1beda4.b70c54","type":"tab","label":"System","disabled":false,"info":""},{"id":"746f7477.264b3c","type":"subflow","name":"Goal","info":"","category":"","in":[{"x":70,"y":170,"wires":[{"id":"b0054e04.08093"}]}],"out":[],"env":[],"color":"#87A980","icon":"font-awesome/fa-futbol-o"},{"id":"59363999.067d98","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b3713d9b.b8d93","type":"mqtt out","z":"f1c791f7.5b528","name":"","topic":"biliardino/blue_score","qos":"","retain":"","broker":"59363999.067d98","x":840,"y":100,"wires":[]},{"id":"f8ad90b5.21eb9","type":"mqtt out","z":"f1c791f7.5b528","name":"","topic":"biliardino/red_score","qos":"","retain":"","broker":"59363999.067d98","x":830,"y":40,"wires":[]},{"id":"30bf4f0e.ab0b6","type":"exec","z":"6c1beda4.b70c54","command":"sudo chown -Rf www-data:www-data /var/www","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":460,"y":180,"wires":[[],[],[]]},{"id":"d3f4e9dc.bb0ca8","type":"inject","z":"6c1beda4.b70c54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["30bf4f0e.ab0b6"]]},{"id":"1fe1bffa.34efb","type":"exec","z":"6c1beda4.b70c54","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":240,"wires":[[],[],[]]},{"id":"b5ba58f.91cf9a8","type":"inject","z":"6c1beda4.b70c54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["1fe1bffa.34efb"]]},{"id":"50ecba81.3f8e44","type":"exec","z":"6c1beda4.b70c54","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":300,"wires":[[],[],[]]},{"id":"db960144.543ea","type":"inject","z":"6c1beda4.b70c54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["50ecba81.3f8e44"]]},{"id":"b5b3b09c.d4cba","type":"rpi-gpio in","z":"f1c791f7.5b528","name":"","pin":"12","intype":"up","debounce":"25","read":false,"x":160,"y":220,"wires":[["c4c4f517.202888"]]},{"id":"8ee5b4b4.e53c38","type":"inject","z":"6c1beda4.b70c54","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["60551520.58fcbc"]]},{"id":"60551520.58fcbc","type":"exec","z":"6c1beda4.b70c54","command":"sudo systemctl restart chromium.service ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":120,"wires":[[],[],[]]},{"id":"30dc4d2.81d6fb2","type":"comment","z":"f1c791f7.5b528","name":"Reset","info":"","x":150,"y":180,"wires":[]},{"id":"1c5f95d2.29a27a","type":"function","z":"f1c791f7.5b528","name":"Red score","func":"red_score=msg.payload;\nglobal.set(\"red_score\",red_score);\nnode.status({fill:\"red\",shape:\"dot\",text:red_score});\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":40,"wires":[["f8ad90b5.21eb9"]]},{"id":"9ed74dca.3c733","type":"inject","z":"f1c791f7.5b528","name":"Score reset","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":80,"wires":[["1c5f95d2.29a27a","5419750.51da98c"]]},{"id":"5419750.51da98c","type":"function","z":"f1c791f7.5b528","name":"Blue score","func":"blue_score=msg.payload;\nglobal.set(\"blue_score\",blue_score);\nnode.status({fill:\"blue\",shape:\"dot\",text:blue_score});\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["b3713d9b.b8d93"]]},{"id":"c4c4f517.202888","type":"function","z":"f1c791f7.5b528","name":"Pushdown ?","func":"if (msg.payload===0) {\n    msg.payload=0;\n    return msg;\n}    ","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["1c5f95d2.29a27a","5419750.51da98c","a5792bfb.005848"]]},{"id":"c18712ab.24d89","type":"rpi-gpio in","z":"f1c791f7.5b528","name":"","pin":"18","intype":"up","debounce":"25","read":false,"x":160,"y":340,"wires":[["16554470.ad214c"]]},{"id":"16554470.ad214c","type":"function","z":"f1c791f7.5b528","name":"Pushdown ?","func":"if (msg.payload===0) {\n    var red_score=global.get(\"red_score\");\n    red_score++;\n    msg.payload=red_score;\n    return msg;\n}    ","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["1c5f95d2.29a27a","c1319f31.795da"]]},{"id":"7c428b57.a52a64","type":"comment","z":"f1c791f7.5b528","name":"Red","info":"","x":150,"y":300,"wires":[]},{"id":"c1319f31.795da","type":"function","z":"f1c791f7.5b528","name":"true","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["e8884830.07ff08"]]},{"id":"a5792bfb.005848","type":"function","z":"f1c791f7.5b528","name":"false","func":"msg.payload=false;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["e8884830.07ff08"]]},{"id":"5727d4bb.a1903c","type":"mqtt out","z":"746f7477.264b3c","name":"","topic":"biliardino/goal","qos":"","retain":"","broker":"59363999.067d98","x":720,"y":200,"wires":[]},{"id":"918b3d33.c4d75","type":"inject","z":"746f7477.264b3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":320,"wires":[["b87bfefd.f66c"]]},{"id":"b87bfefd.f66c","type":"function","z":"746f7477.264b3c","name":"","func":"var goal_timer=flow.get(\"goal_timer\");\ngoal_timer++;\nnode.status({fill:\"red\",shape:\"dot\",text:goal_timer});\nflow.set(\"goal_timer\",goal_timer);\n\nif (goal_timer==15) { \n    msg.payload=\"false\";\n    flow.set(\"goal_timer\",0);\n    return msg;\n}    ","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["5727d4bb.a1903c"]]},{"id":"feac2bae.bb4d38","type":"inject","z":"746f7477.264b3c","name":"Init goal_timer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":340,"y":260,"wires":[["4f753a13.f622e4"]]},{"id":"4f753a13.f622e4","type":"function","z":"746f7477.264b3c","name":"","func":"flow.set(\"goal_timer\",0);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[[]]},{"id":"b0054e04.08093","type":"function","z":"746f7477.264b3c","name":"","func":"if (msg.payload===true) {\n    flow.set(\"goal_timer\",0);\n    return msg;\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["5727d4bb.a1903c"]]},{"id":"e8884830.07ff08","type":"subflow:746f7477.264b3c","z":"f1c791f7.5b528","name":"","x":800,"y":280,"wires":[]},{"id":"4b48618d.f9e","type":"rpi-gpio in","z":"f1c791f7.5b528","name":"","pin":"32","intype":"up","debounce":"25","read":false,"x":160,"y":460,"wires":[["1b55fcfb.19b5a3"]]},{"id":"42764839.279648","type":"comment","z":"f1c791f7.5b528","name":"Blue","info":"","x":150,"y":420,"wires":[]},{"id":"1b55fcfb.19b5a3","type":"function","z":"f1c791f7.5b528","name":"Pushdown ?","func":"if (msg.payload===0) {\n    var blue_score=global.get(\"blue_score\");\n    blue_score++;\n    msg.payload=blue_score;\n    return msg;\n}    ","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["3c4b7a0.ace7586","5419750.51da98c"]]},{"id":"3c4b7a0.ace7586","type":"function","z":"f1c791f7.5b528","name":"true","func":"msg.payload=true;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["e8884830.07ff08"]]}]