flows/camera.json
[{"id":"2194d7a3.2e2858","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e315d2d1.a7081","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fd6da938.113988","type":"mqtt-broker","z":"","name":"","broker":"biliardino.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a6bdec02.282a4","type":"mqtt-broker","z":"","name":"","broker":"biliardino.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c44584e5.c91a68","type":"inject","z":"2194d7a3.2e2858","name":"Halt","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["685271e0.0d657"]]},{"id":"685271e0.0d657","type":"exec","z":"2194d7a3.2e2858","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":80,"wires":[[],[],[]]},{"id":"abc3396.b654cc8","type":"exec","z":"2194d7a3.2e2858","command":"sudo systemctl stop replay.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":680,"y":340,"wires":[["2f8dc4b3.f3d86c"],[],[]]},{"id":"2f8dc4b3.f3d86c","type":"exec","z":"2194d7a3.2e2858","command":"sudo systemctl start stream.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1120,"y":340,"wires":[[],[],[]]},{"id":"3da6203a.7cada","type":"exec","z":"2194d7a3.2e2858","command":"sudo systemctl stop stream.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":680,"y":280,"wires":[["5def1d09.b0e2e4"],[],[]]},{"id":"5def1d09.b0e2e4","type":"exec","z":"2194d7a3.2e2858","command":"sudo systemctl start replay.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1120,"y":280,"wires":[[],[],[]]},{"id":"ef7a8013.71301","type":"mqtt in","z":"2194d7a3.2e2858","name":"","topic":"biliardino/tabellone","qos":"2","datatype":"auto","broker":"fd6da938.113988","x":130,"y":300,"wires":[["1481d5c9.e9c84a"]]},{"id":"1481d5c9.e9c84a","type":"function","z":"2194d7a3.2e2858","name":"scores/setup","func":"if (msg.payload===\"scores\") {\n    return [msg,null];\n}\n\nif (msg.payload===\"setup\") {\n    return [null,msg];    \n}\n","outputs":2,"noerr":0,"x":330,"y":300,"wires":[["3da6203a.7cada"],["abc3396.b654cc8"]]},{"id":"a8756385.62575","type":"mqtt in","z":"2194d7a3.2e2858","name":"","topic":"biliardino/shell","qos":"2","datatype":"auto","broker":"a6bdec02.282a4","x":150,"y":500,"wires":[["2031c45e.d2675c"]]},{"id":"2031c45e.d2675c","type":"exec","z":"2194d7a3.2e2858","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":500,"wires":[[],[],[]]}]