flows/tabellone.json
[{"id":"3d48f182.236dce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b8eddf9f.775a5","type":"mqtt-broker","z":"","name":"","broker":"biliardino.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2a191cb.41524","type":"mqtt-broker","z":"","name":"","broker":"biliardino.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3a3be99d.885806","type":"inject","z":"3d48f182.236dce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["858ebeed.c87b6"]]},{"id":"858ebeed.c87b6","type":"exec","z":"3d48f182.236dce","command":"sudo systemctl restart chromium.service ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":80,"wires":[[],[],[]]},{"id":"4eef61eb.89ee","type":"inject","z":"3d48f182.236dce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":580,"wires":[["d1408e09.68ebf"]]},{"id":"d1408e09.68ebf","type":"exec","z":"3d48f182.236dce","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":580,"wires":[[],[],[]]},{"id":"d1e37d8f.a5425","type":"exec","z":"3d48f182.236dce","command":"sudo systemctl start chromium.service ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1070,"y":300,"wires":[[],[],[]]},{"id":"22e44e2a.1b3952","type":"exec","z":"3d48f182.236dce","command":"sudo systemctl stop chromium.service ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":670,"y":400,"wires":[["e99805b8.a72908"],[],[]]},{"id":"e99805b8.a72908","type":"exec","z":"3d48f182.236dce","command":"sudo systemctl start chromium_setup.service ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1090,"y":400,"wires":[[],[],[]]},{"id":"7ee76e5e.411cc","type":"exec","z":"3d48f182.236dce","command":"sudo systemctl stop chromium_setup.service ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":300,"wires":[["d1e37d8f.a5425"],[],[]]},{"id":"40c10208.b2c0fc","type":"mqtt in","z":"3d48f182.236dce","name":"","topic":"biliardino/tabellone","qos":"2","datatype":"auto","broker":"b8eddf9f.775a5","x":150,"y":360,"wires":[["4e92836e.2db35c"]]},{"id":"4e92836e.2db35c","type":"function","z":"3d48f182.236dce","name":"","func":"if (msg.payload==\"scores\") {\n    return [msg,null];\n} \n\nif (msg.payload==\"setup\") {\n    return [null,msg];    \n}\n","outputs":2,"noerr":0,"x":310,"y":360,"wires":[["7ee76e5e.411cc"],["22e44e2a.1b3952"]]},{"id":"1a11cf4.e6f7931","type":"inject","z":"3d48f182.236dce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":260,"wires":[["7ee76e5e.411cc"]]},{"id":"5550413e.da381","type":"inject","z":"3d48f182.236dce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":460,"wires":[["22e44e2a.1b3952"]]},{"id":"1151d042.c49d6","type":"inject","z":"3d48f182.236dce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["83e294c3.68b578"]]},{"id":"83e294c3.68b578","type":"exec","z":"3d48f182.236dce","command":"sudo systemctl restart chromium_setup.service ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":140,"wires":[[],[],[]]},{"id":"56b3c6e4.7dde88","type":"mqtt in","z":"3d48f182.236dce","name":"","topic":"biliardino/shell","qos":"2","datatype":"auto","broker":"a2a191cb.41524","x":150,"y":700,"wires":[["d11f684a.496b88"]]},{"id":"d11f684a.496b88","type":"exec","z":"3d48f182.236dce","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":350,"y":700,"wires":[[],[],[]]}]